Zalora_Assignment/Podfile.lock
Zalora_Assignment/Pods/Manifest.lock
Zalora_Assignment/Pods/*
Zalora_Assignment/Zalora_Assignment.xcworkspace/contents.xcworkspacedata
Zalora_Assignment/Zalora_Assignment.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Zalora_Assignment/Zalora_Assignment.xcworkspace/xcuserdata/nexle-landt.xcuserdatad/UserInterfaceState.xcuserstate
